[user]
	name = rjshrjndrn
	email = rjshrjndrn@gmail.com
[rebase]
	autoStash = true
[init]
	defaultBranch = main

# Delta config
# https://github.com/dandavison/delta
[core]
  pager = delta
	excludesFile = ~/.gitignore_global
	sshcommand = "ssh-add -D &>/dev/null; ssh -i ~/.cred/curr/git.pem"
  compression = 9  # trade cpu for network
  autocrlf = input  # keep newlines as in input
  fsync = none

[blame]
  coloring = highlightRecent
  date = relative

[interactive]
  diffFilter = delta --color-only
[add.interactive]
  useBuiltin = false # required for git 2.37.0

[delta]
  navigate = true    # use n and N to move between diff sections

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default
  context = 3  # less context in diffs
  renames = copies  # detect copies as renames in diffs
  interHunkContext = 10  # merge near hunks in diffs

[include]
	path = ~/.gitaliases

[push]
  # Ref: https://github.com/jesseduffield/lazygit/discussions/4068#discussioncomment-11336272
	useForceIfIncludes = true
	default = upstream

[pull]
	rebase = true

# URL shortcuts
[url "git@github.com:"]
  insteadOf = "gh:"
[url "git@github.com:rjshrjndrn/"]
  insteadOf = "ghr:"

[log]
	date = local
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
