[user]
	name = rjshrjndrn
	email = rjshrjndrn@gmail.com
[rebase]
	autoStash = true
[init]
	defaultBranch = main

# Delta config
# https://github.com/dandavison/delta
[core]
  pager = delta
	excludesFile = ~/.gitignore_global

[interactive]
    diffFilter = delta --color-only
[add.interactive]
    useBuiltin = false # required for git 2.37.0

[delta]
    navigate = true    # use n and N to move between diff sections

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[include]
	path = ~/.gitaliases
