# vim: set ft=bash:
function sk() {
    local org=${1:-ekstep}
    eval $(ssh-agent -s) > /dev/null
    find ~/.cred/${org} -maxdepth 1 -type f -iname "*.pem" -exec ssh-add {} &> /dev/null \;
}

sk

function k3c() {
    k3d create cluster $1 --k3s-server-arg --no-deploy --k3s-server-arg traefik --network kubelocal --k3s-server-arg --no-deploy --k3s-server-arg local-storage --k3s-server-arg --kubelet-arg --k3s-server-arg containerd=/run/k3s/containerd/containerd.sock --api-port ${2:-16433}  --image rancher/k3s:v1.0.1
}
function k3g() {
    k3d kubeconfig get $1 -o ~/.k3d/kube/$1
    sleep .5
    export KUBECONFIG=~/.k3d/kube/$1
}

function pr() {
    opts=$1
    branch=${2:-$( getRemoteBranch | cut -d ':' -f2 | cut -d '/' -f2)}
    # upstream=${3:-$(git config --get remote.origin.url | awk -F: '{print $NF}' |awk -F/ '{print $(NF-2)}'|cut -d '.' -f1)}
    upstream=${3:-$(git config --get remote.origin.url | awk -F: '{print $NF}' |awk -F/ '{print $1}')}
    # upstream_tmp=${3:-$(git config --get remote.origin.url | awk -F: '{print $NF}' |awk -F/ '{print $(NF-2)}')}
    # Removing the .git part from repos
    # Ref: https://stackoverflow.com/questions/27658675/how-to-remove-last-n-characters-from-a-string-in-bash
    # upstream=${upstream_tmp%.git}
    echo hub pull-request -b $upstream:$branch -h ${branch} -f $opts
    hub pull-request -b $upstream:$branch -h $( getRemoteBranch | cut -d ':' -f2 | cut -d '/' -f2) -f $opts
}

function sendfile(){
    # curl -F "file=@${1}" https://file.io | jq ".link"
    curl https://oshi.at/file/-1 --upload-file $1
}

csh (){
    curl cheat.sh/$1
}


gps(){
    gopass otp -c $1 $(gopass $1) > /dev/null
}
alias ek='export KUBECONFIG='
alias m='mkdir'
alias clea='clear'
alias sk=sk
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias cx='chmod +x'
alias py='function py(){ touch $1;echo -e "#!/usr/bin/env python3\n" >> $1; };py'
alias p='python3'
alias sovp='gps svpn; sudo openvpn --config ~/.cred/sunbird-staging.ovpn --auth-user-pass ~/.cred/ntp/vpn'
alias ovp="gps svpn; docker run -it --rm -e JENKINS_ADDR=10.20.0.9:8080 --privileged -p 8081:8080 -v ${HOME}/.cred/sunbird-staging.ovpn:/tmp/l.ovpn:ro -v ${HOME}/.cred/ntp/vpn:/tmp/vpn:ro rjshrjndrn/openvpn:latest /bin/sh -c '/tmp/socat.sh; /usr/sbin/openvpn --config /tmp/l.ovpn --auth-user-pass /tmp/vpn --ask-pass' "
alias sovpd='gps dvpn; sudo openvpn --config ~/.cred/sunbird-dev.ovpn --auth-user-pass ~/.cred/ntp/vpn'
alias ovpd="gps dvpn; docker run -it --rm -e JENKINS_ADDR=10.20.0.14:443 --privileged -p 443:8080 -v ${HOME}/.cred/sunbird-dev.ovpn:/tmp/l.ovpn:ro -v ${HOME}/.cred/ntp/vpn:/tmp/vpn:ro rjshrjndrn/openvpn:latest /bin/sh -c '/tmp/socat.sh; /usr/sbin/openvpn --config /tmp/l.ovpn --auth-user-pass /tmp/vpn --ask-pass' "
alias sovpl='gps lvpn; sudo openvpn --config ~/.cred/loadtest.ovpn --auth-user-pass ~/.cred/ntp/vpn'
alias ovpl="gps lvpn; docker run -it --rm -e JENKINS_ADDR=27.0.0.11:8080 --privileged -p 8082:8080 -v ${HOME}/.cred/loadtest.ovpn:/tmp/l.ovpn:ro -v ${HOME}/.cred/ntp/vpn:/tmp/vpn:ro rjshrjndrn/openvpn:latest /bin/sh -c '/tmp/socat.sh; /usr/sbin/openvpn --config /tmp/l.ovpn --auth-user-pass /tmp/vpn --ask-pass' "
alias vn='nvim -u ~/.essential.vim -N'
# alias vim='/usr/bin/nvim -u ~/.config/nvim/minimal.vim'
alias vim='nvim'
alias scratch='/usr/bin/nvim -u ~/.config/nvim/minimal.vim -c Scratch'
alias gvim='neovide -u ~/.config/nvim/minimal.vim'
alias sv='cat | vim'
alias x='xdg-open'
# alias emacs='emacs --no-window-system'

# function vim(){
#     [[ -f Session.vim ]] && nvim -S || nvim -c Obsession $@
# }
alias nvd='nvim -d'
# Tmux alias
alias t='tmux'
alias ta='tmux attach -t $@'
alias tl='tmux ls'
alias tc="tmux new -s $@"
alias tk='tmux kill-session -t'
# git aliases
alias g='git'
alias gb='git branch'
alias gl='git log'
alias ga='git add'
alias gs='git status'
alias gc='git checkout'
alias gpl='git pull --rebase'
function gclh() {
    git clone https://github.com/$@
}
function gcls() {
    git clone git@github.com:$@
}
function getRemoteBranch() {
    git status -sb 2> /dev/null | cut -d '/' -f2 
}
alias gplo='git pull --rebase origin heads/$(git rev-parse --abbrev-ref HEAD | rev | cut -d '/' -f1 | rev)'
alias gplr='git pull --rebase rjshrjndrn $(git rev-parse --abbrev-ref HEAD)'
alias gpo='git push origin $(git rev-parse --abbrev-ref HEAD)'
alias gpr='git push rjshrjndrn $(git rev-parse --abbrev-ref HEAD)'
alias gpso='git push --set-upstream origin $(git rev-parse --abbrev-ref HEAD)'
alias gpsr='git push --set-upstream rjshrjndrn HEAD:$(git rev-parse --abbrev-ref HEAD)'
alias grc='git rebase --continue'
alias grs='git rebase --skip'
alias grb='git rebase'
alias gst='git stash'
alias gstp='git stash pop'
# alias glo='git log --graph --pretty=oneline --abbrev-commit'
alias tf="terragrunt"
alias pu="pulumi"
alias hn='hugo new'

# hub alias
# Sourcing hub for git
# eval "$(hub alias -s)"
alias at='docker run --rm -it -v $(pwd):/work -w /work -urajeshr ansible_ubuntu:16.04 bash'
# simpl3 git todo
gt() {
  git commit --allow-empty -m "TODO: $*"
}

glt() {
  git log --grep=TODO: --oneline
}

#shell alias
alias cl='clear'
alias ssh='ssh -A'
# skiping knownkeys saving
alias nssh='ssh -o "UserKnownHostsFile /dev/null" -o "StrictHostKeyChecking false"'
alias nscp='scp -o "UserKnownHostsFile /dev/null" -o "StrictHostKeyChecking false"'

nmosh(){
    mosh --ssh='ssh -o "UserKnownHostsFile /dev/null" -o "StrictHostKeyChecking false"' -p 60001 $1
}

jt(){
    nvim $1**
}
nsr(){
    nssh rajeshr@$1
}
nsu(){
    nssh ubuntu@$1
}
nso(){
    nssh ops@$1
}
# ansible aliases
alias ap='ansible-playbook'
alias apc='ansible-playbook -c local'
alias apcc="ansible-playbook -i $2 $1 --syntax-check -e 'hosts=dummy'"
alias apn='ansible-playbook -i ntp_preprod_inventory/env/ --vault-password-file=ntp_preprod_inventory/pass_file  -e ansible_ssh_user=rajeshr'

alias c="setxkbmap -option caps:escape"
alias yay="yay --sudoloop"
# Docker
alias d='docker'
alias dr='docker run'
alias k='kubectl'
alias kg='kubectl get'
alias kga='kubectl get all'
alias kgaa='kubectl get all --all-namespaces'
alias ka='kubectl apply -f'
alias kd='kubectl describe'
alias kdl='kubectl delete'
alias ke='kubectl edit'
alias kl='kubectl logs'
alias kex='kubectl exec'
alias kx='kubectx'
alias kn='kubens'
alias knc='kubens -c'
alias kc='kubectl create'
alias curl=curlie
alias cat="bat --style=plain,header --paging=never"
alias less="bat --paging=always"

alias hi='helm upgrade --install'
alias civo="docker run -it --rm -v ${HOME}/.cred/civo/civo.json:/.civo.json civo/cli:latest"

alias xc='xclip -sel clip'

function uf() {
    url=$(echo $1 | rev | cut -d'/' -f 1 | rev)
    echo " curl --upload-file $url https://transfer.sh/$url -H 'Max-Downloads: 1' "
    curl --upload-file $url https://transfer.sh/$url -H 'Max-Downloads: 1'
}


unalias z 2> /dev/null
z() {
    [ $# -gt 0 ] && zshz "$*" && return
    cd "$(zshz -l 2>&1 | fzf --height 40% --nth 2.. --reverse --inline-info +s --tac --query "${*##-* }" | sed 's/^[0-9,.]* *//')"
}

